<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/stock">Stock</a></li>
  <li class="breadcrumb-item active">Demande</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Liste des demandes materiels</h2>
  </div>
 <!-- <div class="content">
    <form #f="ngForm">
      
      <div class="form-group">
        <label for="type">Type:</label>
        <input [(ngModel)]="filter.type" id="type" name="type" class="form-control">
      </div>

      
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button>
      <a [routerLink]="['../newDemande' ]" class="btn btn-default">New</a>
    </form>
  </div>-->
</div>
<div class="card" *ngIf="DemandeList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">etat</th>
          <th class="border-top-0" scope="col">objet</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of DemandeList" [class.active]="item === selectedDemande">
        
          <td>{{item.id}}</td>
          <td>{{item.etat}}</td>
          <td>{{item.objet}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../Demande', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
